[Unit]
Description=Kodi-standalone-flatpak (GBM)
After=systemd-user-sessions.service network.target sound.target polkit.service upower.service bluetooth.target lircd.service
#After=remote-fs.target network-online.target nss-lookup.target 
#Wants=network-online.target polkit.service upower.service
#Conflicts=getty@tty1.service

[Service]
User=kodi
Group=kodi
PAMName=login
#TTYPath=/dev/tty1
#StandardInput=tty
StandardOutput=journal
TimeoutStopSec=30sec
Restart=on-abnormal
Type=simple

#EnvironmentFile=-/etc/conf.d/kodi-standalone
Environment="WINDOWING=gbm"
Environment="KODI_AE_SINK=alsa"
#ExecStartPre=/usr/bin/proptest -M i915 -D /dev/dri/card0 109 connector 97 1
ExecStart=/usr/bin/flatpak run --filesystem=/run/udev:ro --filesystem=home:ro tv.kodi.Kodi --standalone --windowing=gbm
ExecStop=/usr/bin/flatpak kill tv.kodi.Kodi

[Install]
WantedBy=multi-user.target
